<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Notes</title>
    <!-- bootstrap style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>
<body>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <a href="/saved/podcasts"><button class="btn btn-outline-dark">Saved Podcasts</button></a>
            <a href="/"><button class="btn btn-outline-dark">Search for Podcast</button></a>
        </div>
        <div>
            <h2>Take some notes for</h2>
            <img src="{{list_of_notes[0].podcast.img}}" alt="podcastimg" width="400">
            <p>{{list_of_notes[0].podcast.description}}</p>
        </div>
        <div class="d-flex justify-content-center">
                <table class="table table-dark mr-5">
                    <thead>
                        <tr>
                            <th>reaction</th>
                            <th>notes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for notes in list_of_notes %}
                        <tr>
                            <td>{{notes.reaction}}</td>
                            <td>{{notes.note}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form action="/create/note" method="POST">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="reaction">Reaction:</label>
                            <select class="form-control" name="reaction" id="reaction">
                                <option value="Like">Like</option>
                                <option value="Love">Love</option>
                                <option value="LOL">LOL</option>
                                <option value="WOW!">WOW!</option>
                                <option value="Sad">Sad</option>
                                <option value="Angry">Angry</option>
                            </select>
                            <label for="note">Note:</label>
                            <textarea class="form-control" name="note" id="note" cols="30" rows="10"></textarea>
                            <input type="submit" value="Make Note" class="btn btn-outline-dark m-3">
                        </div>
                    </div>
                </form>
        </div>
    </div>
    
    
    <!-- bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>